# Visual Studio folders and files #
###################################
.vscode/

# Logs and databases #
######################
*.log
.static_storage/
.media/
local_settings.py

# Settings folder for a django databases #
##########################################
nacmis_online/settings.py

# private binary folders#
# folder/** ignores all folders and files recursively
##########################
**/__pycache__/
/data_entry/migrations/

# private folders and files for local user #
##########################################
data_entry/static/data_entry/sources