{% extends "data_entry/nacmis_metronic/base.html" %}

{% block content %}
<!--<p>DACA dashboard coming soon</p>-->
<iframe 
  style="height: 3600px; width: 100%; "
  seamless
  frameBorder="0"
  scrolling="no"
  {% if userProfile.province and userProfile.district %}
  src="http://nacmis-data.bluecodeltd.com:8088/superset/dashboard/18/?standalone=true"
  {% else %}
  src="http://nacmis-data.bluecodeltd.com:8088/superset/dashboard/18/?standalone=true"
  {% endif %}
>
</iframe>
<script>iFrameResize({log:true}, 'iframe')</script>
{% endblock content %}