{% extends "data_entry/nacmis_metronic/base.html" %}

{% block content_title %} 
Help Page
{% endblock %}
{% block content %}
    <div class = "lead">
            <p>For any system-related issues (i.e. challenges, errors) please send an email to <span style="font-weight: bold;">
                helpdesk@nacsec.org.zm</span> .</p>
            <!--
            <table>
                <tbody>
                    <tr>
                        <td>Email:</td>
                        <td>helpdesk@nacsec.org.zm</td>
                    </tr>
                    <tr>
                        <td>Phone number:</td>
                        <td>+26 0xx xxx xxxx</td>
                    </tr>
                </tbody>
            </table>
            -->
    </div>
{% endblock content %}