{% extends "data_entry/nacmis_metronic/base.html" %}
{% load has_group %}

{% block content %}
<iframe
  height="9000px"
  width="100%"
  seamless
  frameBorder="0"
  scrolling="no"
  {% if not request.user|has_group:"Stakeholder" %}
    {% if userProfile.province and userProfile.district %}
    src="https://nacmis-data.bluecodeltd.com/superset/dashboard/10/?standalone=true&preselect_filters={'56':{'province_name':['
      {{ userProfile.province }}'],'district_name':['{{ userProfile.district }}']}}"
    {% else %}
    src="https://nacmis-data.bluecodeltd.com/superset/dashboard/10/?standalone=true&preselect_filters={'56':{'province_name':['
      {{ userProfile.province }}'],'district_name':[]}}"
    {% endif %}
  {% endif %}
>
</iframe>
<script>iFrameResize({log:true}, 'iframe')</script>
{% endblock content %}
