{% extends "data_entry/nacmis_metronic/base.html" %}

{% block content %}
<!--<p>PITMEO dashboard coming soon</p> -->
<iframe
  style="height: 3000px; width: 100%; "
  seamless
  frameBorder="0"
  scrolling="no"
  {% if userProfile.province and userProfile.district %}
  src="http://nacmis-data.nacmis.org.zm:8088/superset/dashboard/13/?standalone=true"
  {% else %}
  src="http://nacmis-data.nacmis.org.zm:8088/superset/dashboard/13/?standalone=true"
  {% endif %}
>
</iframe>
<script>iFrameResize({log:true}, 'iframe')</script>
{% endblock content %}
