{% extends "data_entry/nacmis_metronic/base.html" %}

{% block content %}
<h4>End user guide</h4>
<p>
  This document is intended to help users of the NACMIS navigate and understand registration, 
  logging in, data entry, and data analysis.
</p>
<p>click the link to download: <b>
  <a href="https://drive.google.com/drive/u/2/folders/1wXJebUL2y0yBNVKZpDJn2M8sVhv9QL6j?ogsrc=32" target="_blank">end-user-guide</a></b>. </p>
<br/>

<h4>Videos</h4>
<p>A nice lite heading that makes so comfortable knowing the turtorials we are about to see, and 
like so much. You will want to watch them multiple times.</p>

<!--
<div style="position: absolute; max-width="600px" height="400px"">
  <iframe max-width="600px" height="400px" src="https://www.youtube.com/embed/9OEqlzy9Y5Y" frameborder="0" >
  </iframe>
</div>


<iframe width="400" height="315" src="https://www.youtube.com/embed/9OEqlzy9Y5Y" frameborder="0" 
  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
-->
<h4>Stakeholder directory paper form</h4>
<p>
  This document is filled during registration and updated annually. It is intended to 
  understand which HIV prevention activities a stakeholder implements as well as where they 
  are implementing.
</p>
<p>click the link to download: <b>
  <a href="https://drive.google.com/open?id=1gGJRVKyXaXnfypFbH-nLp1wgKKiVu8S5" target="_blank">stakeholder directory</a></b>. </p>
<br/>

<h4>Stakeholder activity reporting paper form</h4>
<p>
    The SARF is a data collection tool, used to capture quarterly information from 
    implementing partners on their HIV/AIDS prevention activities.
</p>
<p>click the link to download: <b>
  <a href="https://drive.google.com/open?id=1M9i9unoP_dCWCO6J1NzkwLFl46F4wezK" target="_blank">stakeholder activity reporting form(SARF)</a></b>. </p>
<br/>
<h4>Frequently asked questions </h4>
  <p>You can find a list of questions frequently asked in the document below</p>
  <p>click the link to download: <b>
    <a href="https://drive.google.com/open?id=12Do6mWjBtKKDoI-MIUbH2rrb2YGQvj_T" target="_blank">frequently asked questions</a></b>. </p>
<br/>
<h4>List of District AIDS Coordination Advisors (DACA)</h4>
<p>
    A District AIDS Coordination Advisor or DACA is responsible for helping stakeholders 
    register to report to NACMIS. The list below will help you to identify who your DACA is 
    in your district.
</p>
<iframe
  height="400px"
  width="100%"
  seamless
  frameBorder="0"
  scrolling="yes"
  src="https://nacmis-data.bluecodeltd.com/superset/explore/?form_data=%7B%22datasource%22%3A%22122__table%22%2C%22viz_type%22%3A%22table%22%2C%22slice_id%22%3A85%2C%22granularity_sqla%22%3Anull%2C%22time_grain_sqla%22%3Anull%2C%22time_range%22%3A%22100+years+ago+%3A+now%22%2C%22groupby%22%3A%5B%22first_name%22%2C%22last_name%22%2C%22district_name%22%2C%22email%22%5D%2C%22metrics%22%3A%5B%5D%2C%22percent_metrics%22%3A%5B%5D%2C%22timeseries_limit_metric%22%3Anull%2C%22row_limit%22%3A10000%2C%22include_time%22%3Afalse%2C%22order_desc%22%3Atrue%2C%22all_columns%22%3A%5B%5D%2C%22order_by_cols%22%3A%5B%5D%2C%22adhoc_filters%22%3Anull%2C%22table_timestamp_format%22%3A%22%25Y-%25m-%25d+%25H%3A%25M%3A%25S%22%2C%22page_length%22%3A0%2C%22include_search%22%3Atrue%2C%22table_filter%22%3Atrue%2C%22align_pn%22%3Afalse%2C%22color_pn%22%3Atrue%2C%22having%22%3A%22%22%2C%22where%22%3A%22%22%2C%22limit%22%3A%220%22%2C%22url_params%22%3A%7B%7D%2C%22filters%22%3A%5B%5D%7D&standalone=true&height=400"
>
</iframe>

<script>iFrameResize({log:true}, 'iframe')</script>
{% endblock content %}