{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}

{% block extrastyle %}
    {{ block.super }}
    <style type="text/css">
        /* add an asterisk using CSS */
        .required::after {
            content: " *" !important;
            color:red;
        }

        .description_fit_in {
            font-style: italic;
        }
    </style>
{% endblock %}

{% block submit_buttons_bottom %}
{# {{ block.super }} #}
<div class="submit-row">
    <input class="default" value="Submit" name="_submit" type="submit" />
    <input type="submit" value="Save and add another" name="_saveasnew" />
    <input type="submit" value="Save and continue editing" name="_continue" />
</div>
{% endblock %}