{% extends "admin/base.html" %}
{% load static %}
{% block title %}NACMIS online{% endblock %}
    
{% block extrastyle %}
<style>
    #header {
        background-color: #00923F; /* NAC base color */
        height: 100px;
    }

    div.breadcrumbs {
        background-color: #199d52;
    }

    .module caption, .module h2, .submit-row input, .submit-row input.default {
        background-color: #199d52;
        text-transform: unset;
    }

    
</style>
{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">
    <div style="width:50%;">
            <img src="{% static 'data_entry/img/nac_logo1.png' %}" alt="NACMIS" style="width:100%;" />
    </div>
</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
