{% extends "admin/base.html" %}
{% load static %}
{% block title %}NACMIS online{% endblock %}
    
{% block extrastyle %}
<style>
    #header {
        background-color: #009240; /* NAC base color */
        height: 85px;
    }

    div.breadcrumbs {
        background-color: #199d52;
    }

    .module caption, .module h2, .submit-row input, .submit-row input.default {
        background-color: #009240;
        text-transform: unset;
    }

    .inline-related .module h2, div[data-inline-type="stacked"] .module h2 {
        background-color: #7ac13a;
    }
    
    div[data-inline-type="stacked"] .module h3 {
        display: none;
    }
</style>
{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">
    <div style="width:40%;">
            <img src="{% static 'data_entry/img/nac_logo1.png' %}" alt="NACMIS" style="width:100%;" />
    </div>
</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
