{% extends "admin/base.html" %}

{% block title %}NACMIS online{% endblock %}
    
{% block extrastyle %}
<style>
    #header {
        background-color: #00923F; /* NAC base color */
    }

    div.breadcrumbs {
        background-color: #199d52;
    }

    .module caption, .module h2, .submit-row input, .submit-row input.default {
        background-color: #199d52;
    }

    
</style>
{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">NACMIS</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
