{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>NACMIS online</title>
        <link rel="stylesheet" type="text/css" href="{% static 'data_entry/css/comingsoon_style.css' %}" />
        <script src="{% static 'data_entry/js/comingsoon.js' %}"></script> 
    </head>
    
    <body>
        <div class="bgimg">
            <div class="topleft">
                <p>Logo</p>
            </div>
            <div class="middle">
                <h1>NACMIS COMING SOON</h1>
                <hr>
                <p id="demo" style="font-size:30px"></p>
            </div>
            <div class="bottomleft">
                <p><b>Designed and powered by Bluecode Systems</b></p>
                <p id="photographer-credit">Photo by Jeremy Bishop on Unsplash</p>
            </div>
        </div> 
    </body>
</html>